$primary-color: #fe8e26;
$primary-text-color: #fff;
@import "./mixins.scss";
body {
    background-color: #000 !important;
}
.farming {
    &-btn {
        &--light {
            @include farmingBtn($primary-text-color, $primary-color);
        }
        &--detail {
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    &-card {
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: 1px solid #37322f;
        padding: 15px;
        &--expand {
            animation: fade_in_show 0.5s;
        }
        .token-img {
            width: 48px;
            border-radius: 50px;
        }
        .stake-btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn-deposit {
                @include normalBtn();
                width: 48%;
                background-color: #201a0b;
                border: 1px solid #fe8e26;
                color: #fe8e26;
            }
            .btn-withdraw {
                width: 48%;
                @include normalBtn();
                background-color: #fe8e26;
                border: 1px solid #fe8e26;
                color: #fff;
            }
        }
    }
    &-content-rectangle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
