@mixin farmingBtn($color, $bgColor) {
    cursor: pointer;
    background: $bgColor;
    color: $color;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        margin-top: 5px;
    }
}
@mixin normalBtn() {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    font-size: 11pt;
    font-weight: bold;
    &:hover {
        transform: scale(1.05);
    }
}
@mixin flex-row-between() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-row-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-column-center() {
    @include flex-row-center();
    flex-direction: column;
}
